.btn-submit {
    height: 70px;
    width: 70px;
    font-weight: bold;
    font-family: "Pacifico", "Helvetica", "sans-serif";
    color: white;
    border: none;
    border-radius: 50%;
    background: #7452EB;

}