.btn-submit {
    height: 75px;
    width: 75px;
    font-weight: bold;
    font-family: "Pacifico", "Helvetica", "sans-serif";
    color: white;
    border: none;
    border-radius: 50%;
    padding: 2px 2px;
    background: #7452EB;
}