#dialog {
    margin-top: 2vh;
    height: 46vh;
    min-height: 46vh;
    overflow-y: scroll;

}

#map {
    margin-top: 2vh;
    min-height: 46vh;
    height: 46vh;
}

#div-dialog {
    height: 50vh;
}

@media only screen and (max-width: 992px) {

    #dialog {
    margin-top: 2vh;
    height: 52vh;
    min-height: 52vh;
    overflow-y: scroll;

    }

    #map {
    margin-top: 2vh;
    min-height: 52vh;
    height: 52vh;
    }

    #div-dialog {
    height: 55vh;
    }

}



