#dialog {
    display: block;
    height: 400px;
    max-height: 400px;
    width: 100%;
    overflow-y: scroll;
    position: center;

}
#map {
   display: block;
   height: 400px;
   max-height: 400px;
   width: 100%;
}


#2 {
    display: block;
}



