#div-footer {
    margin-top: 1vh;
    height: 6vh;
    background: #7452EB;
    color: white;
    bottom: 0;
}

#div-owner {
    margin-top: 1vh;
    height: 4vh;
    padding-left: 2vw;
}
#div-icons {
    margin-top: 1vh;
    height: 5vh;
}


.icon {
    color: white;
    line-height: 4vh;
    font-size: 4vh;

}

#owner {
    color: white;
    line-height: 5vh;
    font-size: 2vh;
}

/*Deleting including the div owner if  */
@media only screen and (max-width: 992px) {

    #div-owner {
      display: none;
    }

}