#div-formular {
    height: 28vh;
    border: solid black;
}


#user_request {
    min-width: 90%;
    height: 80%;
    min-height: 80%;
    border: #7452EB solid;
    margin:0 auto;
}

#formular {
    padding-top: 2%;
}

#div-submit {
    padding-top: 2%;
}

#div-intro {
    height: 5vh;
}



@media only screen and (max-width: 992px) {

    #div-intro {
      display: none;
    }

}