#formular-intro {
    padding-bottom: 2%;
}

#div-formular {
    margin-left: 10%;
    padding: 2% 2% 2% 2%;

}

#submit {
    display: inline-block;
}

#user_request {
    width: 60%;
    border: #7452EB solid;
    display: inline-block;
}

#div-formular {
    display: inline-block;
}