#div-header {
    height: 10vh;
    background: #7452EB;
    color: white;
}


#div-logo {
    margin-top: 1vh;
    height: 100%;
    padding-left: 2vw;
}
#div-punchline {
    margin-top: 1vh;
    height: 100%;
    padding-left: 2vw;
}

#logo-icon {
    line-height: 8vh;
    font-size: 8vh;

}

#home-link {
    line-height: 8vh;
}
#punchline {
    line-height: 8vh;
    font-size: 5vh;
}

#logo-icon {

}

@media only screen and (max-width: 992px) {

    #div-punchline {
      display: none;
    }

}






