#div-header {
    height: 10%;
    background: #7452EB;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

#logo {
    margin-left: 10%;
    height: 100%;
    display: block;
    width: 20%;
}

#punchline {
    margin-left: 5%;
    width: 60%;

}

#logo-icon {
    height: 100%;
    width: auto;
}






