#header {
    width: 80%;
    height: 10%;
    padding: 1% 1% 1% 1%;
    margin: 0 auto;
    background: #7452EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div-logo {
    width: 15%;
    height: 8%;
}

#div-punchline {
    width: 60%;
    height: 8%;
}

#punchline {
    color: white;
    font-size: 80px;
}



