{% extends "base.html" %}
{% block form %}
<div id="formular" class="card" >
    <div id="formular-intro"   >
        <h2>Que voudrais tu savoir ?</h2>
    </div>
    <div>
        <form action="#" method="post" >
            <div class="form-group">
                <textarea class="form-control" id="user_request"
                              placeholder="Entre ta question ici"  rows="3" name="user_request_name"></textarea>
            </div>
            <div id="div-submit-button">
                <button type="submit"  id="submit"   class="btn btn-submit">On y va !</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

