<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Project number 7 done by Cyril Leroux" />
    <title>DA-PY-Project 7</title>
    <script src="https://kit.fontawesome.com/6ce3e3a777.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main">
        <div id="header" class="card" >
            <div id="logo" class="logo">
                <H1><i class="fas fa-user-astronaut logo-font"></i></H1>
            </div>
            <div id="punchline">
                <H1>Vers l'infini et au delà !</H1>
            </div>
        </div>
        <div id="formular" class="card" >
            <p>Form</p>
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                              placeholder="Entrez votre question ici"  rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
        <div id="google-results" class="card">
            <p>google results</p>
            <div id="map">

            </div>

        </div>
        <div id="story" class="card">
            <p>Grand Pa story</p>
        </div>
        <div id="footer" class="card">
            <div id="firstN">Cyril</div>
            <div id="lastN">Leroux</div>
            <div id="github" class="icon"   >
                <a href="https://github.com/cendrars59/DAPY-P7">
                    <i class="fab fa-github-square icon"></i>
                </a>
            </div>
            <div id="social" align="right">
                <a href="https://twitter.com/Cendrars_59">
                    <i class="fab fa-twitter-square icon"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>