/* --- Importing google fonts --- */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

/* --- Application components design --- */
@import url('components/button.css');
@import url('components/icon.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/logo.css');
@import url('components/formular.css');
@import url('components/dialog.css');
@import url('components/card.css');


/* --- Fonts --- */
body {
    font-family: "Roboto", "Helvetica", "sans-serif";
    color: #7452EB;
    position: relative;
}

h1, h2, h3, p {
    font-family: "Pacifico", "Helvetica", "sans-serif";
}

h1 {
    height: 100%;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 20px;
}

.font-color {
    color: white;
}

.container {
    height: 100%;
    margin: 0 auto;
}

.row {
    border: none;
}